<div class="container mt-3">
  <h3>Mes Voyages</h3>
  <div *ngFor="let article of articles">
    <div class="card mb-3 col-8">
      <h5 class="card-header"></h5>
      <div class="card-body">
        <h5 class="card-title">{{ article.title | titlecase }} <span class="badge badge-success">Success</span></h5>
        <p class="card-text">{{ article.description}}</p>
        <div class="d-flex justify-content-between">
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <button type="button" class="btn btn-success">I Like</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div>{{ myObservable$ | async}}</div>